.container-5 {
    border: 1px solid #000000;
    margin: 15px auto;
    width: 75%;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background:url('/Users/sarahmxxre/Documents/GitHub/blackjack/blackjack_assets/blackjack-bg.jpeg');
    color: #ffffff;
    border-bottom: 1px solid #000000;
}

.flex-blackjack-row-1 div {
    height: 350px;
    border: 1px solid black;
    text-align: center;
    flex: 1;
    padding: 10px;
}

.flex-blackjack-row-1 img {
    height: 25%;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.flex-box-container-1 div {
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover {
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.7);
}